/***** Base *****/

@mixin typography-h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-medium;
}

@mixin brand-typography {
  font-family: $heading_font;
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 1.3;
}
@mixin article-typography {
  font-weight: $font-weight-regular;
  font-size: 16px;
  line-height: 26px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background_color;
  color: $text_color;
  -webkit-font-smoothing: antialiased;

  @include brand-typography();

  > main {
    display: flex;
    flex-direction: column;
    height: 100%;
    @include desktop {
      min-height: 65vh;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  font-weight: $font-weight-base;
  margin-top: 0;
}

h1 { 
  font-size: 48px; 
  font-weight: $font-weight-regular;
}
h2 { font-size: 32px; }
h3 {
  font-size: 24px;
  font-weight: $font-weight-medium;
}

h4 { 
  font-size: 18px; 
  font-weight: $font-weight-medium;
  margin: $margin-sm/2 0;
}

.brand {
  @include brand-typography();
}

.tight {
  padding: 0 !important;
}


a {
  color: $link_color;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }

  &.stealth {
    color: inherit;
    text-decoration: none;

    &:hover, &:active, &:focus { 
      text-decoration: none;
    }
  } 
}

input,
textarea {
  color: #000;
  font-size: $input-font-size;
}

input {
  font-weight: $font-weight-light;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;

  &:focus {
    border: 1px solid $brand_color;
  }
}

input[disabled] {
  background-color: #ddd;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url($assets-dropdown-arrow-svg) no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: $field-text-focus-color;
  width: 100%;

  &:focus {
    border: 1px solid $brand_color;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  border: 1px solid $border-color;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px;

  &:focus {
    border: 1px solid $brand_color;
  }
}

.container {
  @include max-width-container;
}

.container-divider {
  border-top: 1px solid $border-color;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-page {
  @include max-width-container;
}

.dropdown-toggle {
  background: none;
  border: 0;
  padding: 0;
  text-align: initial;
}
 .dropdown-toggle:focus {
  outline: 0;
  text-decoration: underline;
}

.dropdown-toggle::after {
  color: inherit;
}
