/***** Buttons *****/
.button, [role="button"] {
  @include tablet { width: auto; }

  border: 1px solid $button-color;
  border-radius: 4px;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 2.34; //Taken from Zendesk garden bedrock
  margin: 0;
  padding: 0 20px;
  text-align: center;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;

  &::after {
    color: $button-color;
  }

  &:hover,
  &:active,
  &:focus,
  &[aria-selected="true"] {
    background-color: $brand_color;
    color: $brand_text_color;
    text-decoration: none;
  }

  &[aria-selected="true"] {
    &:hover,
    &:focus,
    &:active {
      background-color: $hover-button-color;
      border-color: $hover-button-color;
    }
  }

  &[data-disabled] {
    cursor: default;
  }
}

.button-large, input[type="submit"] {
  @include tablet {
    width: auto;
  }

  background-color: $button-color;
  border: 0;
  border-radius: 4px;
  color: $brand_text_color;
  font-size: 14px;
  font-weight: $font-weight-base;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 1.9286em;
  width: 100%;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover-button-color;
  }


  &[disabled] {
    background-color: #ddd;
  }
}

.button-secondary {
  color: $secondary-text-color;
  border: 1px solid $border-color;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $text_color;
    border: 1px solid $border-color;
    background-color: $primary-shade;
  }
}


// Sky Ledge Implementation

a.link {
  @include aLink();
}

button, .a-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0;
  text-decoration: none !important;
  background: $color-accent;
  color: $color-offwhite;
  font-size: 16px;
  font-weight: $font-weight-semibold;
  cursor: pointer;
  text-align: center;
  transition: box-shadow 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;


  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  
}

button:hover,
button:focus {
  // background: $color-accent-darker;
  // border-bottom: 5px solid $color-primary-300;
  
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.97);
}

.is-active-page {
  color: #ED9C3D !important;
}