/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.section h2 {
  margin-bottom: 10px;
  text-align: center;
}

// Sky Ledge Implementation

.homeposition {
  height: 100%;
  align-items: center;
  margin-bottom: $margin-sm*2;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .collection-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: $margin-sm/2;
    // max-width: 308px;
    max-width: 256px;
    padding: $margin-sm/2;
    width: 100%;
    min-height: 368px;

    &.no-description {
      min-height: 324px;
    }

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out;
    
    &:hover {
      cursor: pointer;
      background-color: $color-offwhite;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.29) !important;

        .img-container img {
            transform: scale(1.07);
        }
        .title {
            font-weight: $font-weight-semibold;
            color: $color-primary-400;
        }
    }

    .img-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 208px;
        width: 300px;
        img {
            min-height: 100px;
            height: 100%;
            width: auto;
            max-width: 300px;
            transition: transform .5s ease-in-out;
        }
    }

    .title {
        max-width: 272px;
        margin: $margin-sm/1.5 0 $margin-sm/2;
    }

    p {
      font-size: 14px;
      margin-top: 0;
    }
  }
}

// End Sky Ledge Implementation

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock::before {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
