/***** Metadata *****/
.meta-group {
  display: block;
}

.meta-group * {
  display: inline;
}

.meta-data {
  color: $secondary-text-color;
  @include brand-typography();

  &:not(:last-child)::after {
    content: "\00B7";
    margin: 0 5px;
  }
}
