.sub-nav {
  display: flex;

  @include tablet {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  flex-direction: column;
  justify-content: space-between;
  max-width: $max-page-width;
  width: 100%;
  min-height: 50px;
  padding: $margin-sm/2 0 0;
  margin: 0 $margin-sm;

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 300px;
    }

    &::after { font-size: $font-size-base; }
  }
}


.sub-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &.darkmode {
    color: white;
    background-color: $color-primary;
  
    .breadcrumbs, .breadcrumbs a {
      color: white !important;
    }
  }
}