.sub-nav {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &.darkmode {
    color: white;
    background-color: $color-primary;

    .breadcrumbs, .breadcrumbs a {
      color: white !important;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50px;
  padding: $margin-sm/2 $margin-sm 0;

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 300px;
    }

    &::after { font-size: $font-size-base; }
  }
}
