section.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $margin-sm*3;
    padding: 0 $margin-sm;
    margin: 0 auto $margin-sm;
    width: 100%;
    text-align: center;

    &.subtitle {
        margin: $margin-sm*3 0 $margin-sm;
        p {
            margin-top: $margin-sm/4;
            max-width: $max-page-width/4;
        }
    }

    h1, h2, h3, p {
        margin: 0;
    }

    h1 {
        margin-bottom: $margin-sm/2;
    }

    p {
        max-width: $max-brand-element-width;
    }
}

.darkmode {
    color: $text_color_darkmode !important;
}